.formcontato__input {

	background: white;
    border: none;
    border-radius: 4px;
    color: #0A3871;
    height: 2.5rem;
    resize: none;

    
}

.formcontato__input::placeholder{

	font-size: 0.8rem;
	
}

.formcontato__input:hover {

	border-bottom: 1px solid blue;
}
