:root{

   --cor-de-fundo: #D9F2FB;
   --cor-de-link: #000;
   --fonte-ralewey: 'Raleway', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: var(--fonte-ralewey);
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}


/*Sessão Menu*/

.all {
    margin: 0 152px;
}

/*Tablet*/
@media (max-width: 768px) {

.all {

        margin: 0;
        padding: 0.7rem;
        
    }

    .menu__list__item {

    }

    .menu__list__item__contato {

        display: none;
    }

    .titulo__div {
        flex-direction: column;
        
    }

    .titulo__div .titulo__bio {

        font-size: 2.3rem;
        line-height: 1;
        

    }

    .titulo__div .titulo__bio, .title__subsection {

        text-align: center;
    }

    .titulo__network {

        justify-content: center;
    }

    .titulo__network__item {

        margin: 0 1rem;
    }

    .sobre-mim {

        margin-bottom: 40px;
        margin-top: 30px;
    }
    
    .sobre-mim__container {

        align-items: center;
    }

    .sobre-mim__titulo {

        margin-bottom: 10px;
    }

    .sobre-mim__paragrafo {

        text-align: center;
    }

    .skills .skills__line {
        
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .skills__box {

        margin-top: 10px;
    }

    .hobbies .hobbies__line {

        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .hobbies__line .hobbies__box {

        margin-top: 10px;
        width: 120px;

    }

    .formacao__curso {

        align-items: center;
        flex-direction: column;
    }

    .formacao__curso .formacao__curso__box {

        width: 250px;
    }

    .formacao__curso__box  .formacao__curso__lista {

        align-items: center;
    }

    .formacao__curso__item__titulo, .formacao__curso__item__sub-titulo {

        text-align: center;
    }

    .experiencia__box {

        flex-direction: column;
    }

    .experiencia__box .experiencia__imagem {

        margin-right: 0;
        margin-bottom: 10px;
    }

    .experiencia__box .experiencia__info {

        align-items: center;
    }

    .formcontato__contato {

        justify-content: center;
    }

    .formcontato__texto {

        align-items: center;
    }


    .formcontato__contato .formcontato__imagem {

        display: none;
    }

    .formcontato__form .formcontato__input, .formcontato__textarea {

        margin-bottom: 4px;
    }


}

/*Mobile*/
@media (max-width: 576px) {

    .all {

        margin: 0;
        padding: 0.7rem;
        
    }

    .menu__list__item {

        display: none;
    }

    .menu__list__item__contato {

        display: none;
    }

    .titulo__div {
        flex-direction: column;
        
    }

    .titulo__div .titulo__bio {

        font-size: 1.5rem;
        line-height: 1;
        

    }

    .titulo__div .titulo__bio, .title__subsection {

        text-align: center;
    }

    .titulo__network {

        justify-content: center;
    }

    .titulo__network__item {

        margin: 0 1rem;
    }

    .sobre-mim {

        margin-bottom: 40px;
        margin-top: 30px;
    }
    
    .sobre-mim__container {

        align-items: center;
    }

    .sobre-mim__titulo {

        margin-bottom: 10px;
    }

    .sobre-mim__paragrafo {

        text-align: center;
    }

    .skills .skills__line {
        
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .skills__box {

        margin-top: 10px;
    }

    .hobbies .hobbies__line {

        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .hobbies__line .hobbies__box {

        margin-top: 10px;
        width: 120px;

    }

    .formacao__curso {

        align-items: center;
        flex-direction: column;
    }

    .formacao__curso .formacao__curso__box {

        width: 250px;
    }

    .formacao__curso__box  .formacao__curso__lista {

        align-items: center;
    }

    .formacao__curso__item__titulo, .formacao__curso__item__sub-titulo {

        text-align: center;
    }

    .experiencia__box {

        flex-direction: column;
    }

    .experiencia__box .experiencia__imagem {

        margin-right: 0;
        margin-bottom: 10px;
    }

    .experiencia__box .experiencia__info {

        align-items: center;
    }

    .formcontato__contato .formcontato__imagem {

        display: none;
    }

    .formcontato__form .formcontato__input, .formcontato__textarea {

        margin-bottom: 4px;
    }

     
}
